/* Basic styles*/
* {
	-webkit-box-sizing: border-box;
	 box-sizing: border-box;
}

body, h1, h2, h3, h4, p {
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	-web-kit-font-smoothing: antialiased;
	color: #fff;
}

button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	background-color: transparent;
	color: transparent;
	font-size: 0;
	border: none;
	padding: 0;
	cursor: pointer;
}

button:focus {
	outline: none;
}

/* Container */
.container {
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* Header*/ 
.header {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1000;

	width: 100%;
	padding: 15px 0;
}

.header--fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 10px 0;

	background-color: #383835;
	-webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
	        box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.4);
}

.header__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
      -ms-flex-pack: justify;
    justify-content: space-between;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;
}

.logo {
	text-decoration: none;
}

.logo__img {
	display: inline-block;

	width: 64px;
	height: 56px;
}

.logo__text {
	display: inline-block;

	line-height: 56px;
	vertical-align: top;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 34px;
	color: #fff;
}

.header__nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
       flex-wrap: wrap;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;
}

.header__link {
	margin-right: 30px;

	font-size: 14px;
	color: #fff;
	text-decoration: none;
	-webkit-transition: color .2s linear;
	     -o-transition: color .2s linear;
	        transition: color .2s linear;
}


.header__link:hover, 
.header__link--active {
	color: #c7b299;
}

.header__cart, .header__search {
	display: block;
}

.header__link:nth-child(9) {
	position: relative;

	margin-left: 30px;
	width: 18px;
	height: 24px;

	overflow: hidden;
}

.header__link:last-child{
	position: relative;

	width: 24px;
	height: 24px;
	margin-right: 0;

	overflow: hidden;
}

.header__link:nth-child(9):before {
	content: '';
	position: absolute;
	z-index: 1;

	width: 18px;
	height: 24px;

	background: url(../img/header/cart-sprite.png) no-repeat;
	background-position: 0px -24px;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
		  -o-transition: opacity .3s linear;
			  transition: opacity .3s linear;
}

.header__link:last-child:before {
	content: '';
	position: absolute;
	z-index: 1;

	width: 24px;
	height: 24px;

	background: url(../img/header/search-sprite.png) no-repeat;
	background-position: 0px -24px;
	opacity: 0;
	-webkit-transition: opacity .3s linear;
	     -o-transition: opacity .3s linear;
	        transition: opacity .3s linear;
}

.header__link:nth-child(9):hover:before,
.header__link:last-child:hover:before {
	opacity: 1;
}

.menu {
	display: none;
}

.menu__btn {
	position: relative;
	display: inline-block;

	width: 20px;
	height: 50px;
}

.menu__line,
.menu__line:before,
.menu__line:after {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;

	width: 20px;
	height: 2px;
	margin-left: -10px;
	margin-top: -1px;

	background-color: #dfdfdf;
}

.menu__line:before,
.menu__line:after {
	content: '';
	display: block;

	-webkit-transition: .1s;
		  -o-transition: .1s;
			  transition: .1s;
}

.menu__line:before {
	-webkit-transform: translateY(-5px);
	    -ms-transform: translateY(-5px);
	        transform: translateY(-5px);
}

.menu__line:after {
	-webkit-transform: translateY(5px);
	    -ms-transform: translateY(5px);
	        transform: translateY(5px);
}

.menu__line--active {
	background-color: transparent;
}

.menu__line--active:before {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.menu__line--active:after {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
} 

/* Intro */
.intro {
	position: relative;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	    -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	   -ms-flex-pack: center;
	 justify-content: center;

	
	height: 100vh;
	min-height: 500px;

	text-align: center;
	background: url(../img/intro/intro-bg.jpg) no-repeat center;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	margin: 0 auto;
	max-width: 590px;
}

.intro__item {
	opacity: 0;
}

.slick-slide {
	height: auto;
}

.intro__subtitle {
	margin-bottom: 5px;

	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 36px;
}

.intro__title {
	margin-bottom: 20px;

	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 51px;
}

.intro__text {
	font-size: 16px;
	line-height: 1.6;
}

.intro .slick-arrow:focus {
	outline: none;
}

.intro .slick-arrow {
	position: absolute;
	top: 47%;

	width: 45px;
	height: 45px;

	border-top: 3px solid #d3c1ad;
	border-left: 3px solid #d3c1ad;
	opacity: .5;
	cursor: pointer;
}

.intro .slick-prev {
	left: 185px;

	-webkit-transform: translateX(-50%) rotate(-45deg);
	    -ms-transform: translateX(-50%) rotate(-45deg);
	        transform: translateX(-50%) rotate(-45deg);
}

.intro .slick-prev.slick-disabled {
	border-color: #fff;
}

.intro .slick-next {
	right: 185px;

	border-color: #d3c1ad;
	-webkit-transform: translateX(50%) rotate(135deg);
	    -ms-transform: translateX(50%) rotate(135deg);
	        transform: translateX(50%) rotate(135deg);
}

.intro .slick-next.slick-disabled {
	border-color: #fff;
}

.intro .slick-dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	padding: 0;

	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
}

.intro .slick-dots li {
	position: relative;
	display: inline-block;
	padding: 0;
	margin: 0;

	width: 16px;
	height: 16px;

	margin-right: 5px;
}


.intro .slick-dots button {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	
	width: 10px;
	height: 10px;
	
	background-color: #fff;
	border-radius: 50%;
	opacity: .5;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.intro .slick-active button {
	width: 14px;
	height: 14px;
	background-color: transparent;
	border: 2px solid #d3c1ad;
	opacity: 1;
}

.button {
	display: inline-block;

	margin: 0 auto;

	border-radius: 3px;
	border: none;
	background-color: #998675;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-style: normal;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-box-shadow: 0 3px 0 rgb(115,99,87);
	        box-shadow: 0 3px 0 rgb(115,99,87);
	-webkit-transition: background 0.2s linear;
		  -o-transition: background 0.2s linear;
			  transition: background 0.2s linear;
}

.intro__button {
	width: 175px;
	padding: 18px 40px;
	margin-top: 55px;
}

.button:hover {
	background-color: #716357;
}

/* Services */
.services__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	 justify-content: space-between;

	margin: 0 -15px;
	padding: 80px 0;
}

.services__item {
	position: relative;
	width: 25%;
	padding: 85px 14px 0;

	text-align: center;
	-webkit-transition: -webkit-transform .3s linear;
		  -o-transition: transform .3s linear;
		     transition: transform .3s linear;
}

.services__icon {
	position: absolute;
	top: 50px;
	left: 50%;
	display: inline-block;

	overflow: hidden;
	-webkit-transform: translate(-50%, -100%);
	    -ms-transform: translate(-50%, -100%);
	        transform: translate(-50%, -100%);
}

.services__img {
	display: block;

	opacity: 1;

	-webkit-transition: opacity .3s linear;
		  -o-transition: opacity .3s linear;
			  transition: opacity .3s linear;
}


.services__item:first-child .services__icon {
	width: 49px;
	height: 49px;

	background-image: url(../img/services/web-sprite.png);
	background-position: 0 -49px; 
}

.services__item:nth-child(2) .services__icon {
	width: 44px;
	height: 40px;

	background-image: url(../img/services/development-sprite.png);
	background-position: 0 -40px;  
}

.services__item:nth-child(3) .services__icon {
	width: 44px;
	height: 44px;

	background-image: url(../img/services/custamization-sprite.png);
	background-position: 0 -44px;  
}

.services__item:last-child .services__icon {
	width: 52px;
	height: 36px;

	background-image: url(../img/services/marketing-sprite.png);
	background-position: 0 -36px; 
}

.services__title {
	margin-bottom: 20px;

	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
	font-style: normal;
	color: #555;

	-webkit-transition: color 0.3s linear;
		  -o-transition: color 0.3s linear;
			  transition: color 0.3s linear;
}

.services__text {
	font-size: 14px;
	color: #8c8c8c;
	line-height: 1.7;
}

.services__text::after {
	content: '';
	display: block;

	width: 70px;
	height: 3px;
	margin: 35px auto 0;

	background-color: #f1eee9;
	-webkit-transition: background-color .3s linear;
		  -o-transition: background-color .3s linear;
			  transition: background-color .3s linear;
}

.services__item:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}

.services__item:hover .services__img {
	opacity: 0;
}

.services__item:hover .services__title {
	color: #c7b299;
}

.services__item:hover .services__text::after {
	background-color: #c7b299;
}

/* Ideas */
.section {
	text-align: center;
	padding: 80px 0 0;
}

.section--floral-white {
	background-color: #fbfaf8;
}

.section__header {
	max-width: 770px;
	margin: 0 auto 40px;

	text-align: center;
	color: #555;
}

.section__title {
	margin-bottom: 25px;

	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	font-style: normal;
}

.section__text {
	font-size: 16px;
	line-height: 1.7;
}

.ideas {
	max-width: 1230px;
	margin: 0 auto;
}

.ideas__img {
	width: 100%;
	display: block;
}

/* Purchase */
.purchase {
	background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
	background: -o-linear-gradient(left, #211b19, #4e3427);
	background: linear-gradient(to right, #211b19, #4e3427);
}

.purchase__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	padding: 45px 0;

}

.purchase__title {
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 300;
	line-height: 1.6;
	font-style: normal;
}

.purchase__word-color {
	color: #c7b299;
}

.purchase__text {
	font-size: 18px;
	color: #615855;
}

.purchase__button {
	padding: 15px 30px;
	margin: 0;
}

/* Projects */
.project__filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	 justify-content: space-between;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;

	margin: 40px auto 45px;
	max-width: 600px;
}

.project__filter-btn {
	display: inline-block;
	padding: 5px 20px;

	font-size: 14px;
	color: #8c8c8c;
	text-decoration: none;
	border: 1px solid #ebebeb;
	border-radius: 3px; 
}

.project__filter-btn:last-child {
	margin-right: 0;
}

.project__filter--btn:hover,
.project__filter-btn--active {
	color: #fff;
	background-color: #998675;
}

.card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	margin: 0 -15px;
}

.card__inner {
	width: 33.33333%;

	margin-bottom: 30px;
	padding: 0 15px;

	text-align: left;
}

.card__photo {
	position: relative;

	overflow: hidden;

	background-color: #111;
}

.card__img {
	display: block;

	width: 100%;

	-webkit-transform: scale(1);
	    -ms-transform: scale(1);
	        transform: scale(1);
	opacity: 1;
	-webkit-transition: opacity .3s linear, -webkit-transform .3s linear;
		  -o-transition: opacity .3s linear, transform .3s linear;
			  transition: opacity .3s linear, transform .3s linear;
}

.card__link {
	width: 26px;
	height: 26px;

	opacity: 0;
	-webkit-transition: opacity .3s linear;
		  -o-transition: opacity .3s linear;
		     transition: opacity .3s linear;
}

.card__chain, .card__lupa  {
	position: absolute;
	display: block;
	z-index: 1;
}

.card__chain {
	left: 43%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	 z-index: 0;
}

.card__lupa {
	left: 57%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	z-index: 0;
}


.card__info {
	position: relative;

	padding: 30px 30px;

	background-color: #fbfaf8;
	-webkit-transition: background-color .3s linear;
		  -o-transition: background-color .3s linear;
			  transition: background-color .3s linear;
}

.card__info::before {
	content: '';
	position: absolute;
	display: block;
	top: -10px;
	left: 20px;

   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-bottom: 10px solid #fbfaf8;
   -webkit-transition: border-bottom-color .3s linear;
   	  -o-transition: border-bottom-color .3s linear;
  			  transition: border-bottom-color .3s linear;
}

.card__title {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	line-height: 1.7;
	font-weight: 600;
	font-style: normal;
	color: #c7b299;

	-webkit-transition: color .3s linear;
		  -o-transition: color .3s linear;
			  transition: color .3s linear;
}

.card__subject {
	font-size: 14px;
	color: #d1d1d1;

	-webkit-transition: color .3s linear;
		  -o-transition: color .3s linear;
	        transition: color .3s linear;
}

.card__button {
	margin: 10px 0 60px;
	padding: 15px 45px;
}

.card__inner:hover .card__link {
	opacity: 1;
}

.card__inner:hover .card__img {
	opacity: .3;
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
}

.card__inner:hover .card__info  {
	background-color: #362f2d;
}

.card__inner:hover .card__info::before {
	border-bottom-color: #362f2d;
}

.card__inner:hover .card__title {
	color: #fff;
}

.card__inner:hover .card__subject {
	color: #c7b299;
}

/* Video */
.video {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
	-webkit-box-pack: center;
	   -ms-flex-pack: center;
	 justify-content: center;

	
	width: 100%;
	height: 702px;

	background: url(../img/video/video-bg.jpg) center no-repeat;
	background-size: cover; 
}

.video__inner {
	max-width: 561px;
	margin: 0 auto;

	text-align: center; 
}

.video__icon {
	display: block;
	margin: 0 auto 30px;
	

	width: 100px;
	height: 100px;

	-webkit-transition: -webkit-transform .3s linear;
		  -o-transition: transform .3s linear;
			  transition: transform .3s linear;
}

.video__icon:hover {
	-webkit-transform: rotate(360deg) scale(.9);
	    -ms-transform: rotate(360deg) scale(.9);
	        transform: rotate(360deg) scale(.9);
}

.video__title {
	margin-bottom: 20px;

	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 1;
	font-weight: 500;
	font-style: normal;
}

.video__text {
	font-size: 16px;
	line-height: 1.8;
}

.video__time {
	margin-top: 30px;

	font-size: 14px;
	font-weight: 500;
	color: #c7b299;
}

/* Devices */
.devices__inner {
	position: relative;
	min-height: 696px;
}

.devices__iphone {
	position: absolute;
	bottom: 0;
	left: 45px;
}

.devices__info {
	padding: 200px 0 0 505px;
}

.devices__title {
	margin-bottom: 30px;

	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	line-height: 1;
	font-weight: 600;
	font-style: normal;
	color: #555;
}

.devices__text {
	line-height: 1.8;
	color: #8c8c8c;
}

.devices__list {
	margin: 35px 0 0 50px;
	padding: 0;
	color: #8c8c8c;
}

.devices__list-item {
	position: relative;
	padding-bottom: 10px; 
	list-style: none;
}

.devices__list-item::before {
	content: '';
	position: absolute;
	left: -49px;
	display: inline-block;
	vertical-align: middle;

	width: 21px;
	height: 21px;

	background: url(../img/devices/list-icon.png) center no-repeat;
}

/* Statistics */
.statistics {
	background: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
	background: -o-linear-gradient(left, #211b19, #4e3427);
	background: linear-gradient(to right, #211b19, #4e3427);
}

.stat {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding: 70px 85px;
}

.stat__item {
	-webkit-box-flex: 20%;
	    -ms-flex: 20%;
	        flex: 20%;
	text-align: center;
}

.stat__logo {
	display: inline-block;

	width: 44px;
	height: 44px;	
}

.stat__count {
	font-size: 48px;
	line-height: 1.6;
}

.stat__text {
	font-size: 14px;
	line-height: 1.4;
	color: #c7b299;
	text-transform: uppercase;
}

.stat__text::after {
	content: '';
	display: block;

	margin: 25px auto 0;
	width: 30px;
	height: 2px;

	background-color: #fff;
}

/* Posts */
.card__date {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
}

.card__day, .card__month {
	padding: 5px 12px;
}

.card__day {
	font-size: 24px;
	font-weight: 200;
	background-color: #363636;
	border-radius: 3px 3px 0 0;
	-webkit-transition: background .3s linear;
		  -o-transition: background .3s linear;
		     transition: background .3s linear;
}

.card__month {
	font-size: 12px;
	font-weight: 300;
	background-color: #252525;
	border-radius: 0 0 3px 3px;
	-webkit-transition: background .3s linear;
		  -o-transition: background .3s linear;
			  transition: background .3s linear;
}

.card__photo--border {
	border: 1px solid #f8f8f8;
	border-bottom: none;
}

.card__info--border {
	background-color: #fff;
	border: 1px solid #f8f8f8;
	border-top: none;
}

.card__info--border::before {
	display: none;
}

.card__title--color {
	color: #555;
}

.card__title--color {
	color: #555;
}
.card__subject--text {
	margin: 15px 0 20px;
	line-height: 1.6;
	color: #8c8c8c;
}

.more {
	display: inline-block;

	font-size: 14px;
	line-height: 1;
	color: #c7b299;
	text-decoration: none;
}

.more::after {
	content: '';
	display: inline-block;

	margin-left: 10px;

	vertical-align: middle;
	opacity: .7;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 6px solid #c7b299;
}

.card__btn {
	display: inline-block;
	margin: 10px 5px 60px 0;
}

.card__inner:hover .card__info--border, 
.card__inner:hover .card__photo--border {
	border: none;
}

.card__inner:hover .card__title--color {
	color: #ddd;
}

.card__inner:hover .card__subject--text {
	color: #fff;
}

.card__inner:hover .card__day {
	background-color: #c7b299;
}

.card__inner:hover .card__month {
	background-color: #a48d72;
}

.card .slick-arrow {
	bottom: -30px;

	width: 22px;
	height: 22px;

	background-color: red;
	z-index: 1;
}

.card .slick-prev {
	position: absolute;
	left: 49.5%;

	background: url(../img/posts/right.png) no-repeat;
	-webkit-transform: translateX(-100%) rotate(-180deg);
	    -ms-transform: translateX(-100%) rotate(-180deg);
	        transform: translateX(-100%) rotate(-180deg);
}

.card .slick-prev.slick-disabled {
	background: url(../img/posts/left.png) no-repeat;
	-webkit-transform: translateX(-100%) rotate(0deg);
	    -ms-transform: translateX(-100%) rotate(0deg);
	        transform: translateX(-100%) rotate(0deg);
}

.card .slick-next {
	position: absolute;
	right: 49.5%;

	background: url(../img/posts/right.png) no-repeat;
	-webkit-transform: translateX(100%) rotate(0deg);
	    -ms-transform: translateX(100%) rotate(0deg);
	        transform: translateX(100%) rotate(0deg);
}

.card .slick-next.slick-disabled {
	background: url(../img/posts/left.png) no-repeat;
	-webkit-transform: translateX(100%) rotate(180deg);
	    -ms-transform: translateX(100%) rotate(180deg);
	        transform: translateX(100%) rotate(180deg);
}

/* Logos */
.logos {
	margin-top: 110px;
	padding: 140px 0;

	background: url(../img/logos/logos-bg.jpg) center no-repeat;
	background-size: cover;
}

.logos__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	 justify-content: space-between;
	-webkit-box-align: center;
	   -ms-flex-align: center;
	      align-items: center;

	margin: 0 -15px;

}

.logos__item {
	width: 25%;

	text-align: center;
	padding: 0 15px;
}

.logos__item img {
	max-width: 100%;
} 

/* Footer*/
.footer {
	background-color: #191919;
}

.footer__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	   -ms-flex-pack: center;
    justify-content: center;

	margin: 0 -15px;
	padding: 65px 0 45px; 
}

.footer__col {
	width: 25%;
	padding: 0 15px;
}

.footer__text {
	margin: 25px 0;

	font-size: 14px;
	word-wrap: break-word;
	line-height: 1.7;
	color: #636161;
}

.more--color {
	color: #fff;
	-webkit-transition: color .3s linear;
		  -o-transition: color .3s linear;
			  transition: color .3s linear;
}

.more--color:after {
	border-left-color: #fff;
	-webkit-transition: border-left-color .3s linear;
	     -o-transition: border-left-color .3s linear;
			  transition: border-left-color .3s linear;
}

.more--color:hover {
	color: #c7b299;
}

.more--color:hover:after {
	border-left-color: #c7b299;
}


.footer__title {
	margin: 20px 0 30px;

	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 700; 
	color: #fff;
}

.footer_post {
	margin-bottom: 20px;
}

.footer__post__title,
.footer__post__time {
	font-size: 12px;
	color: #363636;

	-webkit-transition: color .3s linear;
	  	  -o-transition: color .3s linear;
			  transition: color .3s linear;
}

.footer__post__text {
	padding: 5px 0 20px;

	font-size: 14px;
	line-height: 1.4;
	color: #636161;
	border-bottom: 1px solid #252525;

	-webkit-transition: color .3s linear;
	     -o-transition: color .3s linear;
     	     transition: color .3s linear;
}

.footer_post:last-child .footer__post__text {
	border-bottom: none;
}

.footer_post:hover .footer__post__title{
	color: #fff;
}

.footer_post:hover .footer__post__text{
	color: #c7b299;
}

.footer__post__text--twitter {
	padding: 0 0 5px;

	border-bottom: 0;
}

.footer__post__time {
	padding-bottom: 20px;
	border-bottom: 1px solid #252525;
}

.footer_post:last-child .footer__post__time {
	border-bottom: none;
}

.footer_post:hover .footer__post__time{
	color: #fff;
}

.footer__twitter-link,
.footer__twitter-hashtag {
	color: #00bff3;
	text-decoration: none;
}

.footer__post-link {
	color: #fff;
	text-decoration: none;
}

.footer__twitter-link:hover,
.footer__twitter-hashtag:hover {
	text-decoration: underline;
}

.footer__post-link:hover {
	text-decoration: underline;
}

.footer__dribble {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	 justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.footer__item {
	width: 50%;
	border-right: 5px solid #191919;
	border-bottom: 5px solid #191919;
}

.footer__item img {
	display: block;
	width: 100%;

}

/* Copyright */
.copyright {
	background-color: #111;
}

.copyright__inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	   -ms-flex-pack: justify;
	 justify-content: space-between;

	padding: 45px 0;
}
.copyright__item {
	font-size: 13px;
	color: #636161;
	
}

.copyright__text,
.copyright__link {
	display: inline-block;
}

.copyright__link {
	margin-left: 10px;
	padding-left: 10px;

	line-height: 1.1;
	color: inherit;
	text-decoration: none;
	border-left: 1px solid #252525;

	-webkit-transition: color .2s linear;
		  -o-transition: color .2s linear;
			  transition: color .2s linear;
}

.copyright__link:hover,
.copyright__link--active {
	color: #c7b299; 
}

.copyright__word {
	color: #a9a6a6;
	text-decoration: none;
}
