@media (max-width: 1300px) {
	.about {
		&__inner {
			flex-wrap: wrap;
			justify-content: center;
		}
		&__img-wrapper {
			flex-basis: 100%;
			margin-bottom: 30px;
		}
		&__img {
			width: 80%;
			margin: 0 auto;
		}
		&__content {
			flex-basis: 90%;
		}
	}
}

@media (max-width: 992px) {
	.page-section {
		margin: 70px 0;
	}
	.header {
		&__title {
			font-size: 38px;
		}
	}
	.courses {
		&__course {
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__course-item {
			flex-basis: 45%;
			margin-bottom: 40px;
		}
	}
	.about {
		&__text {
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 920px) {
	.price {
		&__inner {
			flex-wrap: wrap;
		}
		&__item-wrapper {
			flex-basis: 50%;
			margin: 0 auto 50px;
		}
	}
}

@media (max-width: 768px) {
	body {
		&.lock {
			overflow: hidden;
		}
	}
	.header {
		&__burger {
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #fff;
				transition: all 0.3s ease-in;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			span {
				position: absolute;
				background-color: #fff;
				left: 0;
				top: 9px;
				width: 100%;
				height: 2px;
				transition: all 0.3s ease-in;
			}
			&.active::before {
				transform: rotate(45deg);
				top: 9px;
			}
			&.active::after {
				transform: rotate(-45deg);
				bottom: 9px;
			}
			&.active span {
				transform: scale(0);
			}
		}
	}
	.logo {
		flex-grow: 1;
		font-size: 28px;
	}

	.menu {
		position: absolute;
		top: -10px;
		left: 105%;
		width: 100%;
		min-height: auto;
		background-color: #2b2b2b;
		background-color: #2b2b2beb;
		padding: 70px 25px 25px;
		transition: all 0.3s ease;
		&.active {
			left: 50%;
		}
		&__list-item {
			display: block;
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			& + .menu__list-item {
				padding-left: 0;
			}
		}
		&__list-link {
			color: $text-grey;
			font-size: 16px;
		}
	}
}

@media (max-width: 700px) {
	.header {
		&__title {
			line-height: 38px;
		}
	}
	.courses {
		&__course-item {
			flex-basis: 70%;
			margin-bottom: 40px;
		}
	}
	.about {
		&__img-wrapper {
			flex-basis: 100%;
			margin-bottom: 30px;
		}
		&__img {
			width: 100%;
		}
	}
}

@media (max-width: 670px) {
	.header {
		&__title {
			padding-top: 140px;
		}
		&__bg-waves {
			top: 153px;
		}
	}
	.price {
		&__item-wrapper {
			flex-basis: 70%;
		}
		.price-item__price {
			font-size: 28px;
		}
	}
}

@media (max-width: 600px) {
	.header {
		&__title {
			line-height: 38px;
			font-size: 28px;
		}
	}
	.about {
		&__text {
			font-size: 14px;
		}
		&__read-more {
			font-size: 14px;
		}
	}
	.price {
		&__inner {
			justify-content: center;
		}
	}
}
@media (max-width: 550px) {
	.courses {
		&__course-item {
			flex-basis: 85%;
			margin-bottom: 40px;
		}
	}
}

@media (max-width: 500px) {
	.page-section {
		margin: 40px 0;
	}
}

@media (max-width: 320px) {
	.header {
		&__title {
			font-size: 25px;
		}
	}
	.price-item {
		&__price {
			font-size: 27px;
		}
	}
}
